<div class="jumbotron text-center">
<h1>{{ message }}</h1>
<p>Molim Vas odgovorite na sledeća pitanja. (5 - najviša ocjena) </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="row col-sm-8">Pitanje</th>
        <th class="row col-sm-4">Ocjena</th>
      </tr>
    </thead>
    <tbody>
	
		<tr ng-repeat="question in questions" >
			<td>{{question.quest}}</td>
			<td>
			<label class="radio-inline" data-ng-repeat="i in [1,2,3,4,5]">
				<input type="radio"  ng-model="question.value" value="{{i}}"/>{{ i }}
			</label>
			</td>
		</tr>
		
    </tbody>
  </table>
  <input type="text" ng-model="comment" name="pitanje" class="col-sm-12"
  placeholder="Komentari, utisci, prijedlozi, želje, čestitke, pozravi..."  />
  <button ng-disabled="submitBtn" class="tag-list btn btn-success " ng-click="submitSurvey()">Predaj anketu</button>
  <p ng-show="submitBtn" >Hvala! <br> Rezutati će Vam biti dostupni kada se anketa zatvori.</p>
</div>

<!-- <label class="radio-inline"><input type="radio" name="optradio">1</label> -->